{{#partial "content"}}

    <div class="success">
        <p>Hero successfully created!</p>
        <p><a href="/heroes/new" class="btn-success">Add Another Hero</a></p>
        <p><a href="/heroes" class="btn-info">Heroes Lists</a></p>
    </div>

{{/partial}}
